FORMAT: 1A
HOST: http://bari1.app/v1

# bari1
TODO: Add Description

## Authentication
This API uses OAuth v2 Bearer Token for its authentication.

# Group Misc

## Auth Register [/auth/register]

### httpbari1.appv1authregister [POST]
TODO: Add Description
+ Attributes
    + name (string, optional) -

        + Default: salman12
        + Sample: salman12
    + email (string, optional) -

        + Default: salman1345@gmail.com
        + Sample: salman1345@gmail.com
    + password (string, optional) -

        + Default: 123456
        + Sample: 123456
    + userType (string, optional) -

        + Default: 2
        + Sample: 2
    + phone (string, optional) -

        + Default: 01716498393
        + Sample: 01716498393

+ Request (application/x-www-form-urlencoded)



+ Response 200 




## Auth Login [/auth/login]

### httpsbarikoi.tkv1authlogin [POST]
TODO: Add Description
+ Attributes
    + email (string, optional) -

        + Default: salman@gmail.com
        + Sample: salman@gmail.com
    + password (string, optional) -

        + Default: 123456
        + Sample: 123456
    + description (string, optional) -

        + Default: Ghatpar er Dokhan
        + Sample: Ghatpar er Dokhan

+ Request (application/x-www-form-urlencoded)
    + Headers

            Authorization:bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjMzLCJpc3MiOiJodHRwOlwvXC9iYXJpMS5hcHBcL3YxXC9hdXRoXC9sb2dpbiIsImlhdCI6MTQ5NDIzODc3NSwiZXhwIjoxNDk0MjQyMzc1LCJuYmYiOjE0OTQyMzg3NzUsImp0aSI6ImMzOTNiNjVjY2I3OWUzMjlhZjRiNzZhNzE1Yjk5YmJkIn0.sErHtglRShUuU_wMaQ9nwTbhYHkvI7puIj36iLWwfXk




+ Response 200 




## Place Get Type [/place/get/type]

### bari1.appv1placegettype [GET]
TODO: Add Description

+ Response 200 




## Place Get Sub Type By TypeName [/place/get/sub/type/{TypeName}]

+ Parameters
    + TypeName (string, required)


### bari1.appv1placegetsubtype [GET]
TODO: Add Description

+ Response 200 




## Place Get By BariKoiCode [/place/get/{BariKoiCode}]

+ Parameters
    + BariKoiCode (string, required)


### bari1.appv1placegetBariKoiCode [GET]
TODO: Add Description

+ Response 200 




## Place Post [/place/post]

### bari1.appv1placepost [POST]
TODO: Add Description
+ Attributes
    + longitude (string, required)

        + Sample: 91.1234
    + latitude (string, required)

        + Sample: 23.5678
    + Address (string, required)

        + Sample: Bashundhra
    + city (string, required)

        + Sample: Dhaka
    + area (string, required)

        + Sample: Vatara
    + postCode (string, required)

        + Sample: 1212
    + pType (string, required)

        + Sample: Food
    + subType (string, required)

        + Sample: Cafe
    + flag (string, required)

        + Sample: 1
    + device_ID (string, required)

    + user_id (string, required)

    + email (string, required)


+ Request (application/x-www-form-urlencoded)



+ Response 200 




## Place Custom Post [/place/custom/post]

### bari1.appv1placecustompost [POST]
TODO: Add Description
+ Attributes
    + longitude (string, required)

        + Sample: 90.1234
    + latitude (string, required)

        + Sample: 23.5678
    + Address (string, required)

        + Sample: Bashundhra
    + city (string, required)

        + Sample: Dhaka
    + area (string, required)

        + Sample: Vatara
    + postCode (string, required)

        + Sample: 1212
    + pType (string, required)

        + Sample: Food
    + subType (string, required)

        + Sample: Cafe
    + flag (string, required)

        + Sample: 1
    + device_ID (string, required)

    + user_id (string, required)

    + email (string, required)

    + uCode (string, required)

        + Sample: MOND0910

+ Request (application/x-www-form-urlencoded)



+ Response 200 




## Place Get ACSW0102 [/place/get/ACSW0102]

### bari1.appv1authplacenewplace [GET]
TODO: Add Description

+ Request 
    + Headers

            Authorization:bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjMzLCJpc3MiOiJodHRwOlwvXC9iYXJpMS5hcHBcL3YxXC9hdXRoXC9sb2dpbiIsImlhdCI6MTQ5NDIzODc3NSwiZXhwIjoxNDk0MjQyMzc1LCJuYmYiOjE0OTQyMzg3NzUsImp0aSI6ImMzOTNiNjVjY2I3OWUzMjlhZjRiNzZhNzE1Yjk5YmJkIn0.sErHtglRShUuU_wMaQ9nwTbhYHkvI7puIj36iLWwfXk




+ Response 200 




## Auth Place Newplacecustom [/auth/place/newplacecustom]

### bari1.appv1authplacenewplacecustom [POST]
TODO: Add Description
+ Attributes
    + longitude (string, required)

        + Sample: 90.1234
    + latitude (string, required)

        + Sample: 23.5678
    + Address (string, required)

        + Sample: Bashundhra
    + city (string, required)

        + Sample: Dhaka
    + area (string, required)

        + Sample: Vatara
    + postCode (string, required)

        + Sample: 1212
    + pType (string, required)

        + Sample: Food
    + subType (string, required)

        + Sample: Cafe
    + flag (string, required)

        + Sample: 1
    + device_ID (string, required)

    + user_id (string, required)

    + email (string, required)

    + uCode (string, required)

        + Sample: MOMD0910

+ Request (application/x-www-form-urlencoded)
    + Headers

            Authorization:bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2JhcmkxLmFwcFwvdjFcL2F1dGhcL2xvZ2luIiwiaWF0IjoxNDkyMDcxMzA5LCJleHAiOjE0OTIwNzQ5MDksIm5iZiI6MTQ5MjA3MTMwOSwianRpIjoiOTY3OWFkOTA5YWMyODYzYTUxYmViZTgyNjk2MzRkYzkifQ.i2owWvczKtklCkJmZyR5Iyn9VFBWt4iKkd77UlSSGj8




+ Response 200 




## Place Update 399 [/place/update/399]

### bari1.appv1placeupdateid [POST]
TODO: Add Description
+ Attributes
    + longitude (string, required)

        + Sample: 90.1234
    + latitude (string, required)

        + Sample: 23.5678
    + Address (string, required)

        + Sample: Bashundhra R/A
    + city (string, required)

        + Sample: Dhaka
    + area (string, required)

        + Sample: Vatara
    + postCode (string, required)

        + Sample: 1212
    + pType (string, required)

        + Sample: Food
    + subType (string, required)

        + Sample: Restaurent
    + flag (string, required)

        + Sample: 1
    + device_ID (string, required)

    + user_id (string, required)

    + email (string, required)


+ Request (application/x-www-form-urlencoded)



+ Response 200 




## Auth Place Update [/auth/place/update/]

### bari1.appv1authplaceupdateid [POST]
TODO: Add Description
+ Attributes
    + longitude (string, required)

        + Sample: 90.1234
    + latitude (string, required)

        + Sample: 23.5678
    + Address (string, required)

        + Sample: Bashundhra R/A
    + city (string, required)

        + Sample: Dhaka
    + area (string, required)

        + Sample: Vatara
    + postCode (string, required)

        + Sample: 1212
    + pType (string, required)

        + Sample: Food
    + subType (string, required)

        + Sample: Restaurent
    + flag (string, required)

        + Sample: 1
    + device_ID (string, required)

    + user_id (string, required)

    + email (string, required)


+ Request (application/x-www-form-urlencoded)
    + Headers

            Authorization:bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2JhcmkxLmFwcFwvdjFcL2F1dGhcL2xvZ2luIiwiaWF0IjoxNDkyMDcxMzA5LCJleHAiOjE0OTIwNzQ5MDksIm5iZiI6MTQ5MjA3MTMwOSwianRpIjoiOTY3OWFkOTA5YWMyODYzYTUxYmViZTgyNjk2MzRkYzkifQ.i2owWvczKtklCkJmZyR5Iyn9VFBWt4iKkd77UlSSGj8




+ Response 200 




## Auth Savedplacebyuid [/auth/savedplacebyuid]

### httpbari1.appv1authsavedplacebyuid [GET]
TODO: Add Description

+ Request 
    + Headers

            Authorization:bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2JhcmkxLmFwcFwvdjFcL2F1dGhcL2xvZ2luIiwiaWF0IjoxNDkyMDc2Mzg3LCJleHAiOjE0OTIwNzk5ODcsIm5iZiI6MTQ5MjA3NjM4NywianRpIjoiM2E3YmRhOTE0Y2FmMjUxNGU2NGQzMmE2MzBiNTE1OWMifQ.akF1zQf7H913Yo85j4u6nDcjAvMqisFfc95Jryl1JwM




+ Response 200 




## Auth Save Place [/auth/save/place]

### httpbari1.appv1authsaveplace [POST]
TODO: Add Description
+ Attributes
    + email (string, optional) -

        + Default: tayef56@yahoo.com
        + Sample: tayef56@yahoo.com
    + password (string, optional) -

        + Default: 123456
        + Sample: 123456
    + pid (string, optional) -

        + Default: 398
        + Sample: 398

+ Request (application/x-www-form-urlencoded)
    + Headers

            Authorization:bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2JhcmkxLmFwcFwvdjFcL2F1dGhcL2xvZ2luIiwiaWF0IjoxNDkyMDc2Mzg3LCJleHAiOjE0OTIwNzk5ODcsIm5iZiI6MTQ5MjA3NjM4NywianRpIjoiM2E3YmRhOTE0Y2FmMjUxNGU2NGQzMmE2MzBiNTE1OWMifQ.akF1zQf7H913Yo85j4u6nDcjAvMqisFfc95Jryl1JwM




+ Response 200 




## Auth Saved Place Delete [/auth/saved/place/delete/]

### httpbari1.appv1authsavedplacedelete [GET]
TODO: Add Description

+ Request 
    + Headers

            Authorization:bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2JhcmkxLmFwcFwvdjFcL2F1dGhcL2xvZ2luIiwiaWF0IjoxNDkyMDc2Mzg3LCJleHAiOjE0OTIwNzk5ODcsIm5iZiI6MTQ5MjA3NjM4NywianRpIjoiM2E3YmRhOTE0Y2FmMjUxNGU2NGQzMmE2MzBiNTE1OWMifQ.akF1zQf7H913Yo85j4u6nDcjAvMqisFfc95Jryl1JwM




+ Response 200 



